.collapses {
    
    .collapse {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 0.6rem 1rem;
        border: none;
        background: #2a5bfb;
        z-index: 1;
    
        &__title {
            color: #FFF;
            font-weight: 700;
            margin: 0;
        }

        .arrow--up,
        .arrow--down {
            cursor: pointer;
            transition: transform 0.5s ease;

            img {
                width: 2rem;
            }
        }

        .arrow--down {
            transform: rotate(-180deg);
        }
    }

    .content {
        background: var(--Gray, rgba(246, 246, 246, 0.45));
    }

    .content--hide {
        display: flex;
        max-height: 0px;
        overflow: hidden;
        transition: max-height ease 0.5s;
        opacity: 0;
    }

    .content--show {
        display: flex;
        height: auto;
        align-items: center;
        max-height: 400px;
        transition: max-height ease 0.8s;
        transition: opacity 0.8s;
        opacity: 1;
    }

    .content__text {
        font-size: 1.1rem;
        font-weight: 400;
        margin: 0 1.3rem;
    }

    // &__about {
    //     display: flex;
    //     flex-direction: column;

    //     .collapse__about {

    //         .collapse {
    //             width: 80%;
    //             margin-top: 2rem;
    //             border-radius: 5px;
    
    //             &__title {
    //                 font-size: 1.5rem;
    //             }
    //         }
    
    //         .content {
    //             width: 80%;
    //             margin: 0 auto;
    //             border-radius: 5px;
    //         }
    //     }
    // }

    &__work {
        display: flex;
        justify-content: space-between;
        margin-top: 0.8rem;

        .collapse__work {
            width: calc(100% / 2 - 2.38rem);

            .collapse {
                width: 100%;
                border-radius: 10px;

                &__title {
                    font-size: 1.1rem;
                    font-weight: 700;
                }
            }

            .content {
                width: 100%;
                margin: 0 auto;
                border-radius: 10px 10px 5px 5px;
            }
        }
    }
}

// @media (max-width: 768px) {
//     .collapses {

//         &__about {

//             .collapse__about {

//                 .collapse {
//                     margin: 0;
//                     width: 100%;
//                     margin-top: 1.25rem;
//                     padding: 0 0.62rem;
    
//                     &__title {
//                         font-size: 0.9rem;
//                     }
    
//                     .arrow--up,
//                     .arrow--down {
    
//                         img {
//                             width: 1.6rem;
//                             height: 1.6rem;
//                         }
//                     }
//                 }
    
//                 .content {
//                     width: 100%;
    
//                     &__text {
//                         font-size: 0.75rem;
//                     }
//                 }
//             }
//         }

//         &__housing {
//             flex-direction: column;
//             margin: 0;

//             .collapse__housing {
//                 width: 100%;
            
//                 .collapse {
//                     margin-top: 1.25rem;
//                     border-radius: 5px;
//                     padding: 0 0.62rem;

//                     &__title {
//                         font-size: 0.9rem;
//                     }

//                     .arrow--up,
//                     .arrow--down {
    
//                         img {
//                             width: 1.6rem;
//                             height: 1.6rem;
//                         }
//                     }
//                 }

//                 .content {

//                     &__text {
//                         font-size: 0.75rem;
//                     }
//                 }
//             }
//         }
//     }
// }