.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.7rem 5.6rem 0 5.6rem;

    &__logo {
        width: 210px;
        height: 68px;
    }

    .navigation {
        
        &__list {
            display: flex;
            list-style: none;
            padding: 0;

        }
        
        &__item {
            align-items: center;
            margin-left: 3.5rem;

            a.active {
                text-decoration: underline;
            }
        }

        &__link {
            text-decoration: none;
            color: #2a5bfb;
            font-weight: 500;
            font-size: 1.4rem;
        }
    }
}

// @media (max-width: 768px) {
//     .header {
//         margin: 1.25rem 1.25rem 0 1.25rem;

//         &__logo {
//             width: 145px;
//             height: 46px;

//             img {
//                 width: 100%;
//             }
//         }

//         .navigation {

//             &__item {
//                 margin: 0 0 0 1.2rem;        
//             }
            
//             &__link {
//                 font-size: 0.75rem;
//                 text-transform: uppercase;
//                 white-space: nowrap;
//             }
//         }
//     }
// }